<%=render "seo/description"%>
<%=render "seo/keywords"%>

<div class="global external_pages_pricing_page">				
		
		<% provide(:title, 'Pricing') %>

		<% provide(:description, 'Our prices ar the most cost effective and most affordable.We do review these prices in-order to provide our customers value for their money.') %>
				
		<script type="text/javascript">
		
			  var _gaq = _gaq || [];
			  _gaq.push(['_setAccount', 'UA-39187627-1']);
			  _gaq.push(['_trackPageview']);
			
			  (function() {
			    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			  })();
			
		</script>		
			<h1>Best prices</h1>	
			<div class="row pricing_page">
				
				<div class="col-sm-3">
					<div class="price_college">
						
						<div class="price_college_title">
							COLLEGE
						</div>
						<div class="price_college_body">
							<ul>
								<li>Type: Article</li>
								<li>Standard: 2.2-Class</li>
								<li>Deadline: within 2months</li>						
							</ul>
							<div class="average_price_college">
								<div class="price_words">Average price after discount:</div>
								<div class="price_figures"><font size="5"><b>13.02</b></font>/page (USD)</div> 
							</div>
							
							<ul>
								<li>Type: Dissertation</li>
								<li>Standard: 2.2st-Class</li>
								<li>Deadline: within 2months</li>					
							</ul>
							<div class="average_price_college">
								<div class="price_words">Average price after discount:</div>
								<div class="price_figures"><font size="5"><b>17.01</b></font>/page (USD)</div> 
							</div>
							
						</div>
					
					</div>
				</div>
				
				<div class="col-sm-3">
					<div class="price_bachelor">
						
						<div class="price_bachelor_title">
							BACHELOR
						</div>
						<div class="price_college_body">
							<ul>
								<li>Type: Article</li>
								<li>Standard: 2nd-Class</li>
								<li>Deadline: within 2months</li>					
							</ul>
							<div class="average_price_bachelor">
								<div class="price_words">Average price after discount:</div>
								<div class="price_figures"><font size="5"><b>13.32</b></font>/page (USD)</div> 
							</div>
							
							<ul>
								<li>Type: Dissertation</li>
								<li>Standard: 2nd-Class</li>
								<li>Deadline: within 2months</li>					
							</ul>
							<div class="average_price_bachelor">
								<div class="price_words">Average price after discount:</div>
								<div class="price_figures"><font size="5"><b>17.01</b></font>/page (USD)</div> 
							</div>
						</div>
						
					</div>
				</div>
				
				<div class="col-sm-3">
					<div class="price_masters">
						
						<div class="price_masters_title">
							MASTERS
						</div>
						<div class="price_college_body">
							<ul>
								<li>Type: Article</li>
								<li>Standard: 2nd-Class</li>
								<li>Deadline: within 2months</li>						
							</ul>
							
							<div class="average_price_masters">
								<div class="price_words">Average price after discount:</div>
								<div class="price_figures"><font size="5"><b>14.08</b></font>/page (USD)</div> 
							</div>
							
							<ul>
								<li>Type: Dissertation</li>
								<li>Standard: 2nd-Class</li>
								<li>Deadline: within 2months</li>					
							</ul>
							<div class="average_price_masters">
								<div class="price_words">Average price after discount:</div>
								<div class="price_figures"><font size="5"><b>18.20</b></font>/page (USD)</div> 
							</div>
						</div>
						
					</div>
				</div>
				
				<div class="col-sm-3">
					<div class="price_doctorate">
						
						<div class="price_doctorate_title">
							DOCTORATE
						</div>
						<div class="price_college_body">
							<ul>
								<li>Type: Article</li>
								<li>Standard: 2nd-Class</li>
								<li>Deadline: within 2months</li>					
							</ul>
							<div class="average_price_doctorate">
								<div class="price_words">Average price after discount:</div>
								<div class="price_figures"><font size="5"><b>14.55</b></font>/page (USD)</div> 
							</div>
							
							<ul>
								<li>Type: Dissertation</li>
								<li>Standard: 2nd-Class</li>
								<li>Deadline: within 2months</li>					
							</ul>
							<div class="average_price_doctorate">
								<div class="price_words">Average price after discount:</div>
								<div class="price_figures"><font size="5"><b>18.95</b></font>/page (USD)</div> 
							</div>
						</div>
						
					</div>
				</div>
				
				
			</div>
			
			<div class="row">
				
				<h2>Price calculator</h2>				
				<div class=" col-8 col-sm-8 col-offset-2 col-sm-offset-2">
					<div class="btn btn-warning discount text-center">
						Get <%=render "discounts/discount"%>% discount today!						
					</div>
					<%=render "calculatorOnPricingPage"%>
				</div>				
			</div>
			
			<div class="row">
				<h2>About our pricing policy </h2>
				
				<div class="col-sm-1"></div>
				<div class="col-sm-10 price_offers_explanations">			
								Prices at best academic essays have been set to industrial standards. 
								Time to time, we review these prices in-order to offer our customers 
								value for their money. This thus allows us at best academic essays 
								to employ highly qualified writers. <br /> <br />
		
								Our prices vary accordingly depending on the complexity of the academic 
								paper. Essays, research papers or thesis, reviews (book review, movie review), 
								reports and assignments, all have different rates reflecting the amount of 
								input required to produce the best results. <br /><br />
		
								Most of all, our prices are affordable. We also offer discounts to returning 
								customer's, but to first time customer's, we offer it upon their request 
								that the nature of their work was not well captured in our systems.
								
								<%unless signed_in? %>								
								<div class="price_order_your_paper">
									To order your paper today, click <b>Order your paper</b> link below to sign up and place your order.
									<div class="prices_link">
										<%=link_to "Order your paper",   new_user_registration_path, 
										class:"btn btn-warning btn-lg btn-order", style:"color:white;"%>		
									</div>
								</div>
								<% end %>
				</div>
				<div class="col-sm-1"></div>
			</div>
		
</div>
